/* Footer.css */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Dark color for better visibility */
  color: #fff;
  /* White text on dark background */
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  /* Increased font size */
}

/* Additional styling for the trademark text */
.footer span {
  font-weight: bold;
  font-style: italic;
}

.socialLink {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.socialLinkBlack {
  filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}