/* src/pages/HomePage.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

img {
    width: 100%;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
